.container {
  background-color: white;
  padding: 0;
}
.navbar {
  padding: 0;
}
.nav-item {
  font-weight: 600;
}
.btn {
  background-color: white;
  color: blue;
  border-radius: 25px;
  font-weight: 500;
}
.nav-item:hover {
  text-decoration: underline;
  font-weight: 700;
}
